@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

img {
    width: 100%;
}

.logo-bdoctors {
    width: 100px;
}

.my-bg-contrast {
    background-color: $contrast-color;
    color: white;
}

// CLASSI PER LA DASHBOARD
a {
    text-decoration: none;
    color: inherit;
}




/* general */


#imagePreview {
    width: 250px;
}

#logo-mobile {
    height: 50px;
}



.my-sidebar {
    //height: 100%;
    // background-image: url(../img/sidebar-bg.png);
    background-color: $my-dark-blue;
}

.my-logo-container {
    width: 150px;
}

.text-red {
    color: red;
    margin-left: 5px
}




/* main */
main,
main>div {
    height: 100%;
}

// .main-content {
//     //width: 100%;
// }

.my-logo-query {
    width: 45px;
    border-radius: 10px;
}



.my-offcanvas.offcanvas {
    width: 700px;
}

img.my-img-avatar {
    width: 25px;
}

.my-btn {
    cursor: pointer;
}

.my-sidebar .my-btn:hover {
    background-color: #ffffff91;
}

/* my-backgrounds */

.my-bg-dark-blue {
    background-color: $my-dark-blue;
}

.my-bg-blue {
    background-color: $my-blue-bar;
}

.my-blue-badge {
    background-color: $my-blue-badge;
}

.my-blue {
    background-color: $my-blue-badge;
}

.my-yellow-dark {
    background-color: $yellow-300;
}

.my-purple {
    background-color: $indigo-500;
}

.my-pink {
    background-color: $pink-300;
}

.my-green {
    background-color: $teal-600;
}

.my-yellow {
    background-color: $yellow-400;
}

.my-light-blue {
    background-color: $blue-300;
}

.my-orange {
    background-color: $orange-500;
}

.my-red {
    background-color: $red;
}

/* media queries */

/* large */

@media screen and (min-width:576px) {
    .my-sidebar-lg {
        width: 70px;
    }

    .main-content {
        width: calc(100% - 70px);
    }

    .my-wrapper-100vh {
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }

    #center-main {
        //width: 100%;
        height: calc(100vh - 96px);
        overflow-y: auto;
    }

}

@media screen and (min-width:768px) {
    .my-sidebar-lg {
        width: 250px;
    }

    .my-logo-query {
        width: 220px;
        border-radius: 30px;
    }

    .main-content {
        width: calc(100% - 250px);
    }
}


.profile-img {
    width: 150px;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

}

.custom-border {
    border: 4px solid rgba(0, 0, 0, 0.5);
}